# Ignore node_modules (will be mounted in dev via volume)
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Output dirs
.next
out
build
coverage

# Env & config
.env*
.vercel
#exclude .env.example
!.env.example

# Misc
.DS_Store
*.pem
