# ================================
# GLOBAL IGNORE
# ================================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

# Editor / IDE
.vscode/
.idea/
*.iml

# Env & Config
.env
.env.*
*.local
config.yaml
config.json

# ================================
# FRONTEND (Next.js)
# ================================
## dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/*.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

## testing
/frontend/coverage

## next.js
/frontend/.next/
/frontend/out/
/frontend/build

## misc
/frontend/.DS_Store
/frontend/*.pem

## debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

## env files
/frontend/.env*

## vercel
/frontend/.vercel

## typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# ================================
# BACKEND (Go Gin)
# ================================
## Binaries hasil build Go
/backend/*.exe
/backend/*.exe~
/backend/*.dll
/backend/*.so
/backend/*.dylib
/backend/*.test
/backend/*.out

## Folder binary hasil go build
/backend/bin/
/backend/build/
/backend/dist/
/backend/tmp/
/backend/testdata/

## Cache Go
/backend/*.log
/backend/*.cache
/backend/*.tmp
/backend/*.swp
/backend/*.swo
/backend/*.DS_Store

## Dependency Go module
/backend/vendor/

## Environment & Config
/backend/gcloudconsole*.json
/backend/.env
/backend/.env.*
/backend/config.yaml
/backend/config.json
/backend/configs/.env
/backend/configs/.env.*
/backend/configs/config.yaml
/backend/configs/config.json

## IDE & Editor
/backend/.vscode/
/backend/.idea/
/backend/*.iml

## OS-specific
/backend.DS_Store
/backendThumbs.db



# allow example env files first
!.env.example
!/frontend/.env.example
!/backend/configs/.env.example